.SearchBar {
  outline: none;
  border: 1px solid #ccc;
  background-color: white;
  font: inherit;
  padding: 6px 10px;
  margin-top: 10px;
  width: 50%;
  box-sizing: border-box;
  margin-right: 10px;
}

.SearchBar:focus {
  outline: none;
  background-color: #ccc;
}
