.Profile {
  text-align: center;
  margin-right: 450px;
}

.Row {
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}

.Button {
  background-color: transparent;
  border: none;
  color: #5c9210;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
}

.Button:disabled {
  color: #ccc;
  cursor: not-allowed;
}
