.Logo {
  text-align: center;
  font-family: "Baloo Bhai", cursive;
  color: green;
  height: 100%;
  box-sizing: border-box;
  border-radius: 5px;
}

.Logo:hover {
  color: rgb(1, 42, 1);
}

.Logo img {
  height: 100%;
}
