.Product {
  float: left;
  width: 220px;
  height: 260px;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 10px;
  box-sizing: border-box;
}

.Image {
  display: inline-block;
  width: 100%;
  height: 80%;
  border: 1px solid #ccc;
  padding: 5px;
}

.Title {
  text-align: left;
  font-family: cursive;
  font-style: bold;
  margin: 2px;
}

.Price {
  text-align: left;
  font-family: cursive;
  font-style: bold;
}
