.Product {
  width: 80%;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 10px;
  margin: 10px auto;
  box-sizing: border-box;
}

.Image {
  display: inline-block;
  width: 10%;
  height: 10%;
  margin: 8px 8px;
  border: 1px solid #ccc;
  padding: 5px;
}
