.Home {
  text-align: center;
}

.Button {
  display: flex;
}

.Logo {
  box-shadow: 0 0 black;
}

.Menu {
  float: left;
}

.Products {
  float: left;
}

.Signup {
  float: left;
}

.Row {
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}
