.Content {
  margin: 72px;
}

.Main {
  margin: 5px;
}

.Home {
  text-align: center;
}

.Button {
  display: flex;
}

.Logo {
  box-shadow: 0 0 black;
}

.Menu {
  float: left;
}

.Products {
  float: left;
}

.Signup {
  float: left;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.Row {
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}
