.Menu {
  text-align: center;
  position: relative;
  /* border: 1px solid blue; */
  width: 50vh;
  /* width: 20%; */
  /* max-width: 30%; */
  max-height: min-content;
  /* padding: 16px 16px; */
}

@media (min-width: 50px) {
  .Menu {
    position: relative;
    /* border: 1px solid blue; */
    width: 100%;
    /* width: 20%; */
    /* max-width: 30%; */
    max-height: min-content;
    padding: 16px 16px;
  }
}
