.Auth {
  width: 80%;
  margin: 20px auto;
  text-align: center;
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #eee;
  padding: 10px;
  box-sizing: border-box;
}

.Input {
  display: block;
}

@media (min-width: 600px) {
  .Auth {
    width: 500px;
  }
}

.LoginBtn {
  background-color: transparent;
  border: none;
  color: #5c9210;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
}

.LoginBtn:disabled {
  color: #ccc;
  cursor: not-allowed;
}

.LogoutBtn {
  background-color: transparent;
  border: none;
  color: #944317;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
}

.LogoutBtn:disabled {
  color: #eee;
  cursor: not-allowed;
}
